.userTable{
    width: 60%;
    margin: 50px auto;
    background-color: #FFF;
    padding: 50px;
    border-radius:10px ;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.65);
    font-weight: bolder;
}

.userTable table{
    width: 100%;
    margin-top:30px;
}
.userTable table thead th{
    background-color: rgb(36, 137, 36);
    color: #FFF;
}
.userTable table tbody td{
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
.actionButtons button{
    margin: 0 10px;
    
}
.userTable table .noData{
    justify-content: center;
}
.profile-img {
    
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }