.layout_table{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.userTable{
    align-content: center;
    width: 60%;
    /* margin: 0 auto; */
    background-color: #FFF;
    padding: 50px;
    border-radius:10px ;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.65);
    font-weight: bolder;
}
.signup{
    align-content: center;
}
.user_box{
    display: flex;
    justify-content: space-between;
}
.userTable table{
    width: 100%;
    margin-top:30px;
}
.userTable table thead th{
    background-color: rgb(36, 137, 36);
    color: #FFF;
}
.userTable table tbody td{
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
.actionButtons button{
    margin: 0 10px;
    
}
.userTable table .noData{
    justify-content: center;
}
.profile-img {
    
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  .navbar_profle{
    position: relative;
  }
  .navbar_profle .fa-user{
    font-size: 30px;
    color: orange;
    border: 1px solid black;
    border-radius: 5px;
  }
  .nav_profle_dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
  }
  .navbar_profle:hover .nav_profle_dropdown{
    display: flex;
    align-items: center;
    background-color: #fff2ef;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
  }
 .nav_profle_dropdown li{
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
 }
 .nav_profle_dropdown i{
    width: 15px;
 }
 .nav_profle_dropdown p:hover{
    color: blue;

 }